*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


/***********************
font
***********************/
body{
    color: white;
}

h1{
    font-size: 20px;
}

.text-small{
    font-size: 14px;
}


h3{ 
    font-size: 14px;
    margin-bottom: 5px;
}


h4{
    font-size: 8px;
}

/**************************/

.main-conteiner{
    width: 100%;
    display: flex;
    
}

.logo-big{
    display: none;
}

.logo-conteiner{
    padding-bottom: 15px;
}

.side-bar{
    width: 50px;
    height: calc(100vh - 90px);
    background-color: green;
    display: flex;
    flex-direction: column;
}
.side-bar-bottom,
.side-bar-top{
    padding: 10px;
    flex-shrink: 0;
    font-size: 12px;
}

.side-bar-bottom li,
.side-bar-top li{
    margin-bottom: 5px;
}


.side-bar-bottom li a,
.side-bar-top li a{
    text-decoration: none;   
    color: white;   
}

.side-bar-text-link{
    padding-left: 5px;
    display: none;
}

.side-bar-ico{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
/*********************
side-bar-middle
*********************/
.side-bar-middle{
    flex-grow: 1;
    padding: 10px;
}

.square{
    height: 37px;
    width: 37px;
    background-color: #a3a3a3;
    text-align: center;
    color: black;
    display: inline-block;
    line-height: 37px;
    font-size: 25px;
    vertical-align: middle;
}



.Playlist-list{
    overflow: auto;
    font-size: 14px;
    line-height: 35px;
}

.Playlist-list li{
    overflow: auto;
}
.Playlist-conteiner{
    overflow: auto;

}


.user-conteinrer{
    background-color: #808080;
    border: 1px solid #808080;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

}

.side-bar-bottom li:nth-of-type(1){
    border-bottom: 1px solid transparent;
    margin-bottom: 5px;
}



/*****************************
main content
*******************************/
.main-content{
    width: calc(100vw - 50px);
    height: calc(100vh - 90px);
    background-color: grey;
}

.top-banner{
    height: 90px;
    background-color: blueviolet;
}

.banner{
    padding: 10px 35px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 5px;

}

.album-category{

}



/* bottom bar */
.bottom-bar{
    width: 100%;
    height: 90px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.bottom-bar-left,
.bottom-bar-center,
.bottom-bar-right{
    background-color: blue;
}


.bottom-bar-left,
.bottom-bar-right{
    width: 20%;
}


.bottom-bar-left{
    display: flex;
    align-items: center;
}

.bottom-bar-left>div{
    padding: 0 5px;
}



.album-miniature-player img{
    height: 30px;
    width: 30px;
}

.bottom-bar-left-icon i:nth-of-type(1){
    margin-right: 10px;
}

/* bottom bar center */


.bottom-bar-center{
    width: 60%;
    height: 75%;
}




.player-btn{
    font-size: 25px;
    text-align: center;
}

.player-time-line-conteiner{
    width: 100%;
    display: flex;
    align-items: center;
}

.player-time-line{
    height: 4px;
    background-color: #5a5a5a;
}

.player-time-end,
.player-time-start{
    padding: 0 5px;
}

.time-line-grey{
    width: 80%;
}

.time-line-red{
    height: 4px;
    background-color: #ff0000;
}

.player-time-line-progress,.time-line-red{
    width: 20%;
}

/*********************************
bottom bar right
**********************************/

.bottom-bar-right{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.bottom-bar-right-icon-conteiner i{
    display: inline-block;
}


.player-time-line-progress,.volume-level{
    width: 50%;
}

.player-time-line-progress,.volume-level-bar{
    width: 20%;
}

/*********************************
media query
************************************/

@media screen and (min-width:553px){

    .side-bar{
        width: 230px;
        height: calc(100vh - 90px);
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        display: inline-block;
    }

    .side-bar-text-link{
        display: inline-block;
    }
    .side-bar-bottom li:nth-of-type(1){
        border-bottom: 1px solid;
        margin-bottom: 5px;
    }
}