*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


/***********************
font
***********************/
body{
    color: white;
}

.text-grey{
    color: #717171;
}

.text-dark-grey{
    color: #7d7f84;
}

h1{
    font-size: 20px;
}

.text-small{
    font-size: 14px;
}


h3{ 
    font-size: 14px;
}


h4{
    font-size: 8px;
}





/******************************

******************************/

.main-conteiner{
    width: 100%;
    display: flex;
    
}

.logo-big{
    display: none;
}

.logo-conteiner{
    padding-bottom: 15px;
    padding-right: 25px;
}

.side-bar{
    width: 50px;
    height: calc(100vh - 90px);
    background-color: #000000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 16px;
}

.side-bar-top{
    position: relative;
    margin-top:  10px;
}

.side-bar-bottom,
.side-bar-top{
    padding: 10px;
    flex-shrink: 0;
    font-size: 12px;
    list-style: none;
    font-size: 14px;
}

.side-bar-top li{
    margin-bottom: 15px;    
}
.side-bar-bottom li{
    margin-bottom: 5px;
}



.side-bar-top li:nth-of-type(2)::after{
    content: "";
    height: 35px;
    width: 3px;
    background-color: #adff2f;
    position: absolute;
    left: -10px;
}


.side-bar-bottom li a,
.side-bar-top li a{
    text-decoration: none;   
    color: white;   
}

.side-bar-text-link{
    padding: 5px;
    display: none;
}

.side-bar-ico{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    filter: opacity(0.5);
}

.side-bar-ico-white{
    filter: opacity(1);

}


.side-bar-bottom li:nth-of-type(1){
    margin-bottom: 10px;
    padding-bottom: 6px;
    color: #717171;
}
/*********************
side-bar-middle
*********************/

.conteiner-hide{
    display: none;
}

.side-bar-middle{
    display: flex;
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
}


.square{
    height: 37px;
    width: 37px;
    background-color: #a3a3a3;
    text-align: center;
    color: black;
    display: inline-block;
    line-height: 37px;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
}



.Playlist-list{
    overflow: auto;
    font-size: 14px;
    line-height: 35px;
    height: 75%;
    width: 100%;
}

.Playlist-list li{
    overflow: auto;
}

.Playlist-conteiner{
    overflow: auto;
    padding: 15px 0;
}
.Playlist-conteiner a,
.Playlist-list-item{
    text-decoration: none;
}

.user-conteinrer{
    background-color: #808080;
    border: 1px solid #808080;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

}



/*****************************
main content
*******************************/
.main-content{
    width: calc(100vw - 50px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow: auto;
}

.top-banner{
    height: 90px;
    background-color: #080b12;
    position: relative;
}

.banner{
    padding: 10px 35px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 15px;
    text-align: center;
}

.album-category{
    margin-bottom: 20px;
}

.album-category ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-category ul li:first-child a::after{
    content: "";
    height: 3px;
    width: 40px;
    background-color: #adff2f;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.album-category ul li{
    list-style-type: none;
    height: 65px;
    line-height: 65px;
    position: relative;
}
.album-category ul li a{
    padding: 18px 10px;
    line-height: 30px;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: bold;
}

/* sezione album */

.section-album{
    padding: 0px 20px;
}

.section-album-title-conteiner{
    padding: 30px 0 15px;
}


.section-album-title{
    padding: 0 7px 10px;
}

.section-subtitle{
    padding: 0 7px;
    color: #7c7e83;
    font-size: 15px;
}

.albums{
    display: flex;
    flex-wrap: wrap;
}

.circle-conteiner{
    border-radius: 50%;
    overflow: hidden;
}
.album-card{
    width: calc(100% / 2);
    padding: 15px 7px;
    min-height: 100px;
    text-align: center;
    
}

.album-card-img-conteiner{
    position: relative;
}
.album-card-img-conteiner:hover .overlay-card{
    display: inline-block;
}

.overlay-card{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 70px;
    color: white;
    position: absolute;
    top:0;
    left: 0;
    
    display: none;

}

.overlay-ico{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.img-conteiner img{
    width: 100%;
    display: block;
}


.album-card img{
    width: 100%;
    display: block;
}

.album-title{
    padding: 20px 0 10px;
}

.album-subtitle{
    font-size: 12px;
    font-weight: bold;
    color: #7d7f84;
}

/* bottom bar */
.bottom-bar{
    height: 90px;
    background-color: #282828;
    display: flex;
    align-items: center;
}

/* bottom-bar-left */

.bottom-bar-left{
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.brano-preview,
.name-brano,
.bottom-bar-left-icons>i{
    padding: 5px;
}

.brano-preview img{
    height: 28px;
    width: 28px;
}

.bottom-bar-left-icons{
    color: #878787;
}

.name-brano h4{
    color: #868686;
}

/* bottom-bar-center */
.bottom-bar-center{
    flex-grow: 1;
    font-size: 20px;
    text-align: center;
}

.control-player i{
    padding:  5px;
}

.control-player{
    white-space: nowrap;
}



.player-time-line{
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.time-counter{
    font-size: 12px;
    padding: 0 8px;
}

.time-line{
    height: 4px;
    flex-grow: 1;
    background-color: #5a5a5a;
    border-radius: 20px;
}


.progress{
    width: 40%;
    height: 4px;
    flex-grow: 1;
    background-color: #c1c1c1;
    border-radius: 20px;
    position: relative;
}

.player-cicle-marker{
    position: absolute;
    top: -4px;
    left: 90%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    display: none;
}


/* bottom-bar-right */
.bottom-bar-right{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-right: 10px;

}

.bottom-bar-right-icon{
    white-space: nowrap;
}

.bottom-bar-right-icon i{
    padding: 2px;
    white-space: nowrap;
}


.volume-bar{
    padding-left: 4px;
}

.volume-level{
    height: 4px;
    width: 40px;
    background-color: #5a5a5a;
    border-radius: 20px;
}





/****************************
hover
****************************/

a.text-dark-grey:hover {
    color: white;
}

a:hover .text-grey{
    color: white;
}

a:hover .side-bar-ico{
    filter: opacity(1);
}

.Playlist-list-item:hover{
    color: white;
}



.Playlist-conteiner:hover div.square{
    background-color: white;
}
.Playlist-conteiner:hover a.text-grey{
    color: white;
}

.bottom-bar-left-icons i:hover{
    color: white;
}

.name-brano h4:hover{
    color: white;
    text-decoration: underline;
}

.ico-player:hover{
    transform: scale(1.2);
}

.player-time-line:hover .progress{
    background-color: #adff2f;
}


.player-time-line:hover .player-cicle-marker{
    display: block;
}

.volume-level:hover .player-cicle-marker{
    display: block;
}

.volume-level:hover .progress{
    background-color: #adff2f;
}

.banner:hover{
    transform: scale(1.05);
}

/*********************************
media query
************************************/

@media screen and (min-width:553px){

    .side-bar{
        width: 230px;
        height: calc(100vh - 90px);
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        display: inline-block;
    }

    .side-bar-text-link{
        display: inline-block;
    }
    .side-bar-bottom li:nth-of-type(1){
        border-bottom: 1px solid;
        margin-bottom: 10px;
    }
    .conteiner-hide{
        display: inline-block;
    }
    .side-bar{
    padding-left: 10px;
}

@media screen and (min-width:879px){

    .album-card{
        width: calc(100% / 4);
    }
}

@media screen and (min-width:1100px){

    .album-card{
        width: calc(100% / 6);
    }
}